@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400, 300);

html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100vh;
  width: 100%;
  margin: 0;
  color: #535353;
}

h1 {
  font-size: 105%;
  font-weight: 300;
}

.header {
  background: #483470;
  padding: 1%;
  color: white;
  border-bottom: 1px solid black;
  font-size: 18px;
}

.header img {
  width: auto;
  height: 100%;
}

.challenge-accepted {
  display: flex;
  justify-content: center;
  /* align-items: center;
  text-align: center; */
}

.button-container {
  border: 3px dashed #eee6fa;
  /* padding: 137px; */
}

.instructions {
  height: 36px;
  padding: 13px;
  margin: 0;
}

.max-width {
  max-width: 960px;
  margin: 0 auto;
}

.assignment-wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-width: 680px;
  min-height: 420px;
}

.assignment {
  flex: 1;
  padding: 27px;
  text-align: center;
}

.inputWrapper {
  position: relative;
}
.inputBox {
  box-sizing: border-box;
  width: 100%;
  height: 54px;
  border-radius: 3px;
  border-color: #483470;
  padding: 6px;
  padding-right: 64px;
  color: #483470;
  font-size: 21px;
}

.submit {
  position: absolute;
  top: 0px;
  right: 0;
  height: 54px;
  width: 60px;
  background-color: #483470;
  color: #fff;
  border: 0;
  border-radius: 3px;
  font-weight: bold;
}

.output-wrapper {
  padding: 27px;
  text-align: center;
}

.resultWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px;
  margin-top: 18px;
}

.resultText {
  margin: 0;
  font-weight: bold;
  margin-top: 6px;
}

.history {
  flex: 0 0 240px;
  overflow: auto;
  background-color: #f5f5f5;
  padding: 6px;
}
.historyTitle {
  font-weight: bold;
  font-size: 16px;
  margin: 3px 0 6px;
  border-bottom: 1px solid #616161;
}
